@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');

body {
    margin: 0 0 0 60px;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}
.logo {
    width: 400px;
}